a img {
    width: 5rem;
    background-color: #f7fff7;
    padding: 0.5rem;
    border-radius: 1rem;
    transition: all ease 3s;
}

a img:hover {
    box-shadow: 5px 5px 20px -10px rgb(11, 12, 12);
    animation: select 2s ease 0s 1 normal none;
}

@keyframes select {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

nav {
    background-color: #4ecdc4;
}

.emojis {
    width: 80vw;
    justify-content: space-between;
}

.ubicacion {
    justify-content: center;
}

