<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand navbar-toggler" href="#" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><img src="..//src/assets/img/home.png" alt="home"></a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span><img src="..//src/assets/img/menu.png" alt="menu"></span>
      <!- class del span  class="navbar-toggler-icon" ->
    </button> -->
    <div class="collapse navbar-collapse ubicacion" id="navbarNavAltMarkup">
      <div class="navbar-nav emojis">
        <a class="nav-link" href="#"><img src="..//src/assets/img/amar.png" alt="emoji amar"></a>
        <a class="nav-link" href="#"><img src="..//src/assets/img/explotar.png" alt="emoji explotar"></a>
        <a class="nav-link" href="#"><img src="..//src/assets/img/fiesta.png" alt="emoji fiesta"></a>
        <a class="nav-link" href="#"><img src="..//src/assets/img/llanto.png" alt="emoji llanto"></a>
        <a class="nav-link" href="#"><img src="..//src/assets/img/sonriendo.png" alt="emoji sonriendo"></a>
      </div>
    </div>
  </div>
</nav>